# ═══ VittaSys — Configuração de Ambiente ═══
AMBIENTE=production

# PRODUÇÃO:
# DATABASE_URL="postgresql://postgres:XXXX@postgres.railway.internal:5432/railway"

# HOMOLOGAÇÃO:
# DATABASE_URL="postgresql://postgres:XXXX@vittasys-homol.railway.internal:5432/railway"

PORT=8080
NODE_ENV=production
SESSION_TIMEOUT_MINUTES=15
DESCONTO_MAXIMO_PERCENTUAL=15
